In [60]:
import pandas as pd
import numpy as np
import datetime

Read the sheet, get some summary data, check format

In [ ]:
excel_sheet = pd.read_csv(r"C:\Users\Alexander\Desktop\Springboard\Lab2.csv")
excel_sheet.head()

In [34]:
excel_sheet.describe()

,Year,Customer ID,Customer Age,Order Quantity,Unit Cost,Unit Price,Cost,Revenue
count,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000
mean,2014.401739,19227.874341,35.919212,11.901660,267.296366,452.938427,469.318695,754.370360
std,1.272510,5307.581302,11.021936,9.561857,549.835483,922.071219,884.866118,1309.094674
min,2011.000000,11000.000000,17.000000,1.000000,1.000000,2.000000,1.000000,2.000000
25%,2013.000000,14611.000000,28.000000,2.000000,2.000000,5.000000,28.000000,63.000000
50%,2014.000000,18664.000000,35.000000,10.000000,9.000000,24.000000,108.000000,223.000000
75%,2016.000000,23475.000000,43.000000,20.000000,42.000000,70.000000,432.000000,800.000000
max,2016.000000,29483.000000,87.000000,32.000000,2171.000000,3578.000000,42978.000000,58074.000000

Check boolean and spacing

In [48]:
excel_sheet.Country == "United States"

0         False
1         False
2         False
3         False
4         False
          ...
113031    False
113032    False
113033    False
113034    False
113035    False
Name: Country, Length: 113036, dtype: bool

Q1: What is the total revenue for all the sales in the United States ?

Method: Group by Country, spit out revenues. Luckily this one doesn't have too many countries.

In [66]:
excel_sheet.groupby("Country").Revenue.sum()

Country
Australia         21302059
Canada             7935738
France             8432872
Germany            8978596
United Kingdom    10646196
United States     27975547
Name: Revenue, dtype: int64

First, let's add a "Month" column. Insert a new column to the left of the Customer ID
column, and use formula to derive the month of sales from the Date column.

Q2: What is the total revenue for all the sales in the month of December ?

#My initial thought is that not all months are xx/xx/xxxx, but if they were a string you could take [:-8] which would give you everything before the first slash and would be fine. Importing another module is just a matter of knowing of its existence and when to use it

In [62]:
excel_sheet["Month"] = pd.DatetimeIndex(excel_sheet.Date).month

In [64]:
excel_sheet.groupby("Month").Revenue.sum()
#Here again, not many months so output is sufficiently short to not slice

Month
1     7005895
2     6834583
3     7347164
4     7602750
5     8836763
6     9043008
7     5721459
8     5711193
9     5841885
10    5995079
11    6244298
12    9086931
Name: Revenue, dtype: int64

In [1]:
"""excel_sheet["Age Group"] = [("Youth" if i < 25 and 
                            "Young Adult" if i >= 25 and i < 35) and
                            ("Adults" if i >= 35 and i < 64) else
                            "Seniors" for i in excel_sheet["Customer Age"]]


for i in len(excel_sheet["Customer Age"]):
    if i < 25:
        excel_sheet["Age Group"[i]] = "Youth"
    elif i >= 25 and i < 35: 
        excel_sheet["Age Group"[i]] = "Young Adult"
    elif i >= 35 and i < 63:
        excel_sheet["Age Group"[i]] = "Adults"
    else: 
        excel_sheet["Age Group"[i]] = "Seniors"
        
Here I had an issue making the column as a list comp. I could get it to have only two values, 
let's say Youth and Adult, but not Youth AND Young Adult AND Adults AND Seniors
"""

'excel_sheet["Age Group"] = [("Youth" if i < 25 and \n                            "Young Adult" if i >= 25 and i < 35) and\n                            ("Adults" if i >= 35 and i < 64) else\n                            "Seniors" for i in excel_sheet["Customer Age"]]\n\n\nfor i in len(excel_sheet["Customer Age"]):\n    if i < 25:\n        excel_sheet["Age Group"[i]] = "Youth"\n    elif i >= 25 and i < 35: \n        excel_sheet["Age Group"[i]] = "Young Adult"\n    elif i >= 35 and i < 63:\n        excel_sheet["Age Group"[i]] = "Adults"\n    else: \n        excel_sheet["Age Group"[i]] = "Seniors"\n        \nHere I had an issue making the column as a list comp. I could get it to have only two values, \nlet\'s say Youth and Adult, but not Youth AND Young Adult AND Adults AND Seniors\n'

Next, let's add an "Age Group" column. Remember to clear any filters you previously
applied. Insert a new column to the left of the Customer Gender , and use formula to
derive the age group from the Customer Age column. Let's group the customers based
on the following criteria:
○ Youth (<25)
○ Young Adults (25-34)
○ Adults (35-64)
○ Seniors (>64)

Q3: What is the total revenue for all the sales for the Young Adults Age Group?

In [88]:
ez = excel_sheet["Customer Age"]
conditionlist = [
                (ez < 25) ,
                (ez >= 25) & (ez < 35),
                (ez >= 35) & (ez < 65),
                (ez >=65)]
choicelist = ["Youth", "Young Adult", "Adults", "Seniors"]
excel_sheet["Age Group"] = np.select(conditionlist, choicelist, default='Not Specified')
excel_sheet.groupby("Age Group").Revenue.sum()

Age Group
Adults         42584153
Seniors          308042
Young Adult    30655614
Youth          11723199
Name: Revenue, dtype: int64

Now, let's add a "Frame Size" column. Insert a new column to the left of the Order
Quantity , and use formula to derive the frame size of a bicycle from the last two
characters of the Product column, when the Product Category is Bikes . Otherwise, leave
it blank.

Q4: What is the total revenue for all the bikes with frame size 62 for the customer age
group Seniors ?

In [102]:
excel_sheet.Product.unique()
#Lots of products!

    Age Group                     Product  Revenue
0      Adults                AWC Logo Cap   271752
1      Adults      All-Purpose Bike Stand   174582
2      Adults       Bike Wash - Dissolver   103918
3      Adults             Classic Vest, L   142664
4      Adults             Classic Vest, M   121673
..        ...                         ...      ...
439     Youth     Touring-3000 Yellow, 62     6137
440     Youth       Water Bottle - 30 oz.   115516
441     Youth  Women's Mountain Shorts, L    51580
442     Youth  Women's Mountain Shorts, M   133819
443     Youth  Women's Mountain Shorts, S    84314

[444 rows x 3 columns]

In [ ]:
new_possible = excel_sheet.groupby(["Age Group", "Product"], as_index=False)["Revenue"].sum()
meh = new_possible.loc[new_possible["Age Group"] == "Seniors"]
meh.groupby("Product").Revenue.sum()

Meh is meh here because I knew it wasn't quite the correct way to do it, but it worked. My luck of not slicing runs out in the next question -- and in retrospect lots of work here for nothing when I could have had it easily spit some things out for me.

In [114]:
"""excel_sheet["Frame Size"] = ""
for element in excel_sheet.Product:
    temp = [element[-2:]]
    temp2 = []
    for num in temp:
        if num.type = 
I was going to slice out the important information and ask "Is Int?"...but it turned out that was unnecessary.
"""

'excel_sheet["Frame Size"] = ""\nfor element in excel_sheet.Product:\n    temp = [element[-2:]]\n    temp2 = []\n    for num in temp:\n        if num.type = \n'

Last but not least, let's add a "Profit" column. Insert a new column to the right of the
Revenue , and use formula to derive the Profit from both the Revenue and Cost columns.
Show the total for the Profit column. Use the Sum aggregation in the total row of the
table, for the Profit column.

Q5: What is the total profit for United States sales in the month of October 2015 , for
customer age group Adults ?

In [123]:
excel_sheet["Profit"] = excel_sheet.Revenue - excel_sheet.Cost

In [128]:
excel_sheet.Year[1].dtype

dtype('int64')

In [134]:
meh2 = excel_sheet.loc[(excel_sheet.Country == "United States") & (excel_sheet.Month == 10) & (excel_sheet.Year == 2015)]
meh2.groupby(excel_sheet["Age Group"]).Profit.sum()
#I realized after doing this I could have just sliced Adults but I knew it would only return 4 results

Age Group
Adults         138419
Seniors           112
Young Adult    138097
Youth           71069
Name: Profit, dtype: int64